.card-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #ffffff;
    border: 1px solid #fafafa;
    border-radius: 15px;
    box-shadow: 3px 5px 5px #eeeeee;
    margin: 10px;
    padding: 10px;
    min-width: 150px;
    max-width: 350px;
    min-height: 100px;
}

.card-container:hover {
    animation: wobbleonhover 0.2s 1;
}

@keyframes wobbleonhover {
    25% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-1deg);
    }
    75% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.card-bottom {
    display: flex;
}

.card-tags {
    display: flex;
    flex-grow: 1;
}

.card-tag {
    display: flex;
    font-size: 10px;
    font-weight: 500;
    padding-left: 10px;
}

.card-date {
    display: flex;
    font-size: 10px;
    font-weight: 500;
    padding-left: 10px;
    font-style: italic;
}

.card-headline {
    font-size: 16px;
    font-weight: 700;
    flex-grow: 1;
}

.card-description {
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
}