<!doctype html>
<html lang="en-US">

<head>
    <!-- Setup standard stuff -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- Load scripts that will convert all headlines to links -->
    <script src="/assets/js/clipboard.min.js" type="text/javascript"></script>
    <script src="/assets/js/nav.js" type="text/javascript"></script>

    <!-- All done-->
</head>

<body>
    {% include top_menu.html %}

    <div class="navandcontent">
        <nav id="navigation">
            <b>Navigation</b>
            <!-- This section will be updated by nav.js (and left empty if javascript is disabled) -->
        </nav>
        <section id="main_content">
            <h1>{{ page.title }}</h1>
            {{ content }}
        </section>
        {% include footer.html %}

    </div>

</body>

</html>