body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background: #dfe6e9;
}

.main-container {
    display: flex;
}

@media screen and (max-width: 768px) {
    .skinny-look {
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
    }
    .skinny-hide {
        display: none;
    }
}